@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  width: 100vw;
}

.menu-icono{
  cursor: pointer;
  margin-left: 30px;
}
.menu-icono img{
  width: 20px;
}

.logo img{
  width: 90px;
  margin-left: 20px;
}

.barra-busqueda{
  display: flex;
  align-items: center;
  width: 40%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 24px;
  overflow: hidden;
  margin-left: 30vh;
}

.barra-busqueda input{
  flex: 1;
  border: none;
  padding: 0 10px;
  font-size: 16px;
}

.barra-busqueda button {
  background-color: #f8f8f8;
  padding-right: 15px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.barra-busqueda button i {
  color: #606060;
  font-size: 20px;
  border: none;
}

.mic-icono{
  margin-left: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #606060;
}

.filtros{
  padding: 10px;
  display: flex;
}

nav{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

ul{
  display: flex;
  gap: 20px;
  list-style: none;
}

li button{
  padding: 10px 10px;
  background-color: rgb(242,242,242);
  border-style: none;
  border-radius: 5px;
}
