* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
}

.menu-icon {
  cursor: pointer;
  margin-right: 20px;
}

.logo img{
  width: 90px;
  margin-left: 20px;
  
}

.barra-busqueda{
  width: 80vh;
  height: 6vh;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 24px;
  padding: 6px 12px;
  margin-left: 190px;
}

.barra-busqueda input{
    border: none;
    outline: none;
    font-size: 16px;
}

.barra-busqueda button {
  background-color: #ccc;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.mic-icono{
  margin-left: 20px;
}